# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore npm debug log
npm-debug.log*

# Ignore Visual Studio Code settings
.vscode/
